$colorFontColorHyperlinkHyperlinkDefaultOnLight: #0057c2;    
$colorFontColorHyperlinkHyperlinkDefaultOnDark: #ffffff;    
$colorFontColorHyperlinkErrorDefaultOnLight: #c10016;    
$colorFontColorHyperlinkMenuDefaultOnLight: #53565a;    
$colorUniversityBlack500: #212322;    
$colorNeutral0: #ffffff;    
$colorNeutral900: #000000;    
$colorSlate500: #53565a;    
$colorUniversityRed500: #c10016;    
$colorCobalt500: #0057c2;    
$colorUniversityGray500: #d9d9d6;    
$colorGrape50: #f3f2ff;    
$colorGrape100: #aba6ff;    
$colorGrape200: #766eff;    
$colorGrape300: #3f33ff;    
$colorGrape400: #1c11d4;    
$colorGrape500: #150c9c;    
$colorGrape600: #120b87;    
$colorGrape700: #0f0973;    
$colorGrape800: #0d085e;    
$colorGrape900: #0a064a;    
$colorBlueberry400: #0f7bd9;    
$colorBlueberry50: #e8f4ff;    
$colorBgColorWhite: $colorNeutral0;    
$colorBgColorBlack: $colorNeutral900;    
$colorBgColorGray: $colorUniversityGray500;    
$colorButtonGlobalColorFillPrimaryOnDarkPressed: $colorGrape200;    
$colorButtonGlobalColorFillSecondaryOnDarkPressed: $colorGrape200;    
$colorButtonGlobalColorFillPrimaryOnDarkHovered: $colorGrape300;    
$colorButtonGlobalColorFillSecondaryOnDarkHovered: $colorGrape300;    
$colorButtonGlobalColorFillTertiaryOnDarkHovered: $colorGrape900;    
$colorButtonGlobalColorFillPrimaryOnDark: $colorGrape400;    
$colorButtonGlobalColorFillPrimaryOnDarkDisabled: $colorGrape400;    
$colorButtonGlobalColorFillPrimaryOnLight: $colorGrape500;    
$colorButtonButtonColorTextSecondaryOnLightEnabled: $colorGrape500;    
$colorButtonButtonColorTextSecondaryOnLightHover: $colorNeutral0;    
$colorButtonButtonColorTextSecondaryOnLightPressed: $colorNeutral0;    
$colorButtonButtonColorTextSecondaryOnLightFocused: $colorGrape500;    
$colorButtonButtonColorTextSecondaryOnLightDisabled: $colorGrape500;    
$colorButtonButtonColorTextTertiaryOnLightEnabled: $colorGrape500;    
$colorButtonButtonColorTextTertiaryOnLightHover: $colorGrape500;    
$colorButtonButtonColorTextTertiaryOnLightPressed: $colorGrape500;    
$colorButtonButtonColorTextTertiaryOnLightFocused: $colorGrape500;    
$colorButtonButtonColorTextTertiaryOnLightDisabled: $colorGrape500;    
$colorButtonGlobalColorFillPrimaryOnLightHovered: $colorGrape600;    
$colorButtonGlobalColorFillPrimaryOnLightPressed: $colorGrape700;    
$colorButtonGlobalColorFillOnDarkFocused: $colorGrape400;    
$colorButtonGlobalColorBorderOnLightFocused: $colorBlueberry400;    
$colorButtonGlobalColorBorderOnDarkFocused: $colorBlueberry400;    
$colorButtonButtonColorBorderPrimaryOnDarkEnabled: $colorGrape50;    
$colorButtonButtonColorBorderPrimaryOnDarkHover: $colorGrape50;    
$colorButtonButtonColorBorderPrimaryOnDarkPressed: $colorNeutral900;    
$colorButtonButtonColorBorderPrimaryOnDarkFocused: $colorGrape50;    
$colorButtonButtonColorBorderPrimaryOnDarkDisabled: $colorGrape50;    
$colorButtonButtonColorBorderSecondaryOnDarkEnabled: $colorGrape50;    
$colorButtonButtonColorTextSecondaryOnDarkEnabled: $colorGrape50;    
$colorButtonButtonColorTextSecondaryOnDarkHover: $colorGrape50;    
$colorButtonButtonColorTextSecondaryOnDarkFocused: $colorGrape50;    
$colorButtonButtonColorTextSecondaryOnDarkDisabled: $colorGrape50;    
$colorButtonButtonColorTextTertiaryOnDarkEnabled: $colorGrape50;    
$colorButtonButtonColorTextTertiaryOnDarkHover: $colorGrape50;    
$colorButtonButtonColorTextTertiaryOnDarkPressed: $colorGrape50;    
$colorButtonButtonColorTextTertiaryOnDarkFocused: $colorGrape50;    
$colorButtonButtonColorTextTertiaryOnDarkDisabled: $colorGrape50;    
$colorButtonButtonColorBorderSecondaryOnDarkDisabled: $colorGrape50;    
$colorButtonButtonColorBorderSecondaryOnDarkFocused: $colorGrape50;    
$colorButtonButtonColorTextPrimaryOnLightEnabled: $colorNeutral0;    
$colorButtonButtonColorTextPrimaryOnLightHover: $colorNeutral0;    
$colorButtonButtonColorTextPrimaryOnLightPressed: $colorNeutral0;    
$colorButtonButtonColorTextPrimaryOnLightFocused: $colorNeutral0;    
$colorButtonButtonColorTextPrimaryOnLightDisabled: $colorNeutral0;    
$colorButtonButtonColorTextSecondaryOnDark: $colorBlueberry50;    
$colorButtonButtonColorTextOnLight: $colorGrape500;    
$colorButtonGlobalColorFillTertiaryOnLightHover: $colorGrape50;    
$colorButtonGlobalColorFillTertiaryOnLightPressed: $colorGrape100;    
