$measureDimensionFontSize148: 48px;    
$measureDimensionFontSize240: 40px;    
$measureDimensionFontSize332: 32px;    
$measureDimensionFontSize428: 28px;    
$measureDimensionFontSize524: 24px;    
$measureDimensionFontSize620: 20px;    
$measureDimensionFontSizeBody16: 16px;    
$measureDimensionFontSizeDisclaimer13: 13px;    
$measureDimensionFontWeightBold: 700px;    
$measureDimensionFontWeightRegular: 400px;    
$measureDimensionLineHeightHeading: 20px;    
$measureDimensionLineHeightBody: 24px;    
$measureDimensionLineHeightBlocks: 28px;    
$measureDimensionBorderRadius10Px: 0px;    
$measureDimensionBorderWidth11Px: 1px;    
$measureDimensionBorderWidth22Px: 2px;    
$measureDimensionBorderWidth34Px: 4px;    
$measureDimensionBorderWidth46Px: 6px;    
$measureDimensionBorderRadius24Px: 4px;    
$measureDimensionBorderRadius38Px: 8px;    
$measureDimensionBorderRadius412Px: 12px;    
$measureDimensionBorderRadius516Px: 16px;    
$measureDimensionOpacityLevelOn: 0px;    
$measureDimension14Px: 4px;    
$measureDimension28Px: 8px;    
$measureDimension312Px: 12px;    
$measureDimension416Px: 16px;    
$measureDimension520Px: 20px;    
$measureDimension624Px: 24px;    
$measureDimension728Px: 28px;    
$measureDimension832Px: 32px;    
$measureDimension936Px: 36px;    
$measureDimension1040Px: 40px;    
$measureDimensionOpacityOpacity00: 0px;    
$measureDimensionOpacityOpacity10: 10px;    
$measureDimensionOpacityOpacity20: 20px;    
$measureDimensionOpacityOpacity30: 30px;    
$measureDimensionOpacityOpacity40: 40px;    
$measureDimensionOpacityOpacity50: 50px;    
$measureDimensionOpacityOpacity60: 60px;    
$measureDimensionOpacityOpacity70: 70px;    
$measureDimensionOpacityOpacity80: 80px;    
$measureDimensionOpacityOpacity90: 90px;    
$measureDimensionOpacityOpacity100: 100px;    
$measureDimensionBodyBaseSize: $measureDimensionFontSizeBody16;    
$measureDimensionBodyBaseWeight: $measureDimensionFontWeightRegular;    
$measureDimensionBodyBaseLineHeight: $measureDimensionLineHeightBody;    
$measureDimensionBodyDisclaimerSize: $measureDimensionFontSizeDisclaimer13;    
$measureDimensionBodyDisclaimerWeight: $measureDimensionFontWeightRegular;    
$measureDimensionBodyDisclaimerLineHeight: $measureDimensionLineHeightBody;    
$measureDimensionHeadingsH1Size: $measureDimensionFontSize148;    
$measureDimensionHeadingsH1Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH1LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionHeadingsH2Size: $measureDimensionFontSize240;    
$measureDimensionHeadingsH2Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH2LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionHeadingsH3Size: $measureDimensionFontSize332;    
$measureDimensionHeadingsH3Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH3LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionHeadingsH4Size: $measureDimensionFontSize428;    
$measureDimensionHeadingsH4Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH4LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionHeadingsH5Size: $measureDimensionFontSize524;    
$measureDimensionHeadingsH5Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH5LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionHeadingsH6Size: $measureDimensionFontSize620;    
$measureDimensionHeadingsH6Weight: $measureDimensionFontWeightBold;    
$measureDimensionHeadingsH6LineHeight: $measureDimensionLineHeightHeading;    
$measureDimensionBodyBoldBold: $measureDimensionFontWeightBold;    
$measureDimensionBorderRadiusBorderBorderRadiusLg: $measureDimensionBorderRadius516Px;    
$measureDimensionBorderRadiusBorderBorderRadiusMd: $measureDimensionBorderRadius412Px;    
$measureDimensionBorderRadiusBorderBorderRadiusSm: $measureDimensionBorderRadius38Px;    
$measureDimensionBorderRadiusBorderBorderRadiusXs: $measureDimensionBorderRadius24Px;    
$measureDimensionBorderRadiusBorderBorderRadiusNone: $measureDimensionBorderRadius10Px;    
$measureDimensionBorderWidthBorderWidthLg: $measureDimensionBorderWidth46Px;    
$measureDimensionBorderWidthBorderWidthMd: $measureDimensionBorderWidth34Px;    
$measureDimensionBorderWidthBorderWidthSm: $measureDimensionBorderWidth22Px;    
$measureDimensionBorderWidthBorderWidthXs: $measureDimensionBorderWidth11Px;    
$measureDimensionBaseUnitBaseUnit: $measureDimension14Px;    
$measureDimensionBaseUnitBaseUnit2: $measureDimension28Px;    
$measureDimensionBaseUnitBaseUnit3: $measureDimension312Px;    
$measureDimensionBaseUnitBaseUnit4: $measureDimension416Px;    
$measureDimensionBaseUnitBaseUnit5: $measureDimension520Px;    
$measureDimensionBaseUnitBaseUnit6: $measureDimension624Px;    
$measureDimensionBaseUnitBaseUnit7: $measureDimension728Px;    
$measureDimensionBaseUnitBaseUnit8: $measureDimension832Px;    
$measureDimensionBaseUnitBaseUnit9: $measureDimension936Px;    
$measureDimensionBaseUnitBaseUnit10: $measureDimension1040Px;    
$measureDimensionPaddingPaddingLg: $measureDimension624Px;    
$measureDimensionPaddingPaddingMd: $measureDimension520Px;    
$measureDimensionPaddingPaddingSm: $measureDimension416Px;    
$measureDimensionPaddingPaddingXs: $measureDimension312Px;    
$measureDimensionMarginMarginLg: $measureDimension624Px;    
$measureDimensionMarginMarginMd: $measureDimension520Px;    
$measureDimensionMarginMarginSm: $measureDimension416Px;    
$measureDimensionMarginMarginXs: $measureDimension312Px;    
$measureDimensionOpacityOpacity000: $measureDimensionOpacityOpacity00;    
$measureDimensionOpacityOpacity010: $measureDimensionOpacityOpacity10;    
$measureDimensionOpacityOpacity020: $measureDimensionOpacityOpacity20;    
$measureDimensionOpacityOpacity030: $measureDimensionOpacityOpacity30;    
$measureDimensionOpacityOpacity040: $measureDimensionOpacityOpacity40;    
$measureDimensionOpacityOpacity050: $measureDimensionOpacityOpacity50;    
$measureDimensionOpacityOpacity060: $measureDimensionOpacityOpacity60;    
$measureDimensionOpacityOpacity070: $measureDimensionOpacityOpacity70;    
$measureDimensionOpacityOpacity080: $measureDimensionOpacityOpacity80;    
$measureDimensionOpacityOpacity090: $measureDimensionOpacityOpacity90;    
$measureDimensionOpacityOpacity100: $measureDimensionOpacityOpacity100;    
